.skills-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.skill-title {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #18d26e;
}

li::marker {
  color: #18d26e;
}

ul {
  padding-left: 0.5rem;
}

button {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  margin-top: 1rem;
}

button:hover {
  background: #15bb62;
}
