.skills-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.skill-title {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #18d26e;
}

li::marker {
  color: #18d26e;
}
